#render-map {
    height: 250px;
}

.map {
    position: relative;
}

.map .search-location {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.map ul#search-result {
    position: absolute;
    top: 50px;
    z-index: 1001;
    width: 100%;
    background: white;
    list-style: square;
}

.map ul#search-result li {
    padding: 10px 0;
}

.map ul#search-result li a {
    color: rgb(0, 0, 0);
}
